replicaCount: 1

image:
  repository: ghcr.io/dlunch/bot
  pullPolicy: Always
  tag: "latest"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

podAnnotations: {}
podLabels: {}

podSecurityContext:
  runAsNonRoot: true
  runAsUser: 1000
  runAsGroup: 1000
  fsGroup: 1000

securityContext:
  allowPrivilegeEscalation: false
  readOnlyRootFilesystem: false
  capabilities:
    drop:
      - ALL

resources: {}

nodeSelector: {}
tolerations: []
affinity: {}

env:
  maxThreadHistory: 20
  slackStreamUpdateMs: 800
  discordStreamUpdateMs: 800

auth:
  # Set this to use a pre-created secret instead of chart-managed one.
  # The secret key CODEX_REFRESH_TOKEN is required.
  existingSecret: ""
  refreshToken: ""

config:
  # Set this to use a pre-created secret containing services.json.
  servicesExistingSecret: ""

  services:
    slack: []
    discord: []
    irc: []
